
<script src="/va-developer/js/jquery.js"></script>
<script src="/va-developer/js/bootstrap-transition.js"></script>
<script src="/va-developer/js/bootstrap-alert.js"></script>
<script src="/va-developer/js/bootstrap-modal.js"></script>
<script src="/va-developer/js/bootstrap-dropdown.js"></script>
<script src="/va-developer/js/bootstrap-scrollspy.js"></script>
<script src="/va-developer/js/bootstrap-tab.js"></script>
<script src="/va-developer/js/bootstrap-tooltip.js"></script>
<script src="/va-developer/js/bootstrap-popover.js"></script>
<script src="/va-developer/js/bootstrap-button.js"></script>
<script src="/va-developer/js/bootstrap-collapse.js"></script>
<script src="/va-developer/js/bootstrap-carousel.js"></script>
<script src="/va-developer/js/bootstrap-typeahead.js"></script>